ninja
matplotlib
seaborn
pyarrow
requests
scikit-learn
scienceplots
transformers
datasets
huggingface_hub
flash-attn
accelerate
lm-eval
vllm
pandas
ipykernel
jupyter-server
pytest
tqdm
pingouin
lmsim
